.DS_Store
build.log
build
npm-debug.log
tmp
.map#*
*$
*.BAK
*.Z
*.bak
*.elc
*.ln
*.log
*.o
*.obj
*.olb
*.old
*.orig
*.rej
*~
,*
.#*
.DS_Store
.del-*
.make.state
.nse_depinfo
CVS.adm
RCS
RCSLOG
SCCS
_$*
